<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :姓名 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :手机 %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :邮箱 %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :qq %><br />
    <%= f.number_field :qq %>
  </div>
  <div class="field">
    <%= f.label :skype %><br />
    <%= f.text_field :skype %>
  </div>
  <div class="field">
    <%= f.label :职务 %><br />
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :分机号 %><br />
    <%= f.number_field :tel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
