<div class="container_24">
    <h3 class="page-header">通讯录</h3>
    <% if current_user && current_user.admin == true %>
    <%= link_to '创建新成员', new_note_path , :class=>'btn btn-primary goright' %>
    <% end%>
<table class="table tabletop">
  <tr>
    <th>姓名</th>
    <th>手机</th>
    <th>邮箱</th>
    <th>QQ</th>
    <th>Skype</th>
    <th>职务</th>
    <th>分机号</th>
    <% if current_user && current_user.admin == true %>
        <th></th>
        <th></th>
        <th></th>
    <% end%>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.name %></td>
    <td><%= note.phone %></td>
    <td><%= note.email %></td>
    <td><%= note.qq %></td>
    <td><%= note.skype %></td>
    <td><%= note.job %></td>
    <td><%= note.tel %></td>
    <% if current_user && current_user.admin == true %>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end%>
  </tr>
<% end %>
</table>

<br />


