<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @note.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @note.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @note.qq %>
</p>

<p>
  <b>Skype:</b>
  <%= @note.skype %>
</p>

<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Job:</b>
  <%= @note.job %>
</p>

<p>
  <b>Tel:</b>
  <%= @note.tel %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
