<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :标题 %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :正文 %><br />
    <%= f.kindeditor :content , :class=>"blog_content" , :allowFileManager => false , :editor_id => 'my_editor' %>
  </div>
  <div class="actions">
    <input type="submit" value="发布博文" class="btn btn-primary">
  </div>
<% end %>
