<div class="container">
<p id="notice"><%= notice %></p>
<h3><%= @blog.title %></h3>
<p>
  <b>作者:</b>
  <%= @blog.user.name %>
</p>
<div id="blogcontent">
</div>
<script>
var content=document.getElementById("blogcontent")
 content.innerHTML = <%= @blog.content %>
 </script>
</p>
<p>
    <%= @blog.created_at %>
</p>


<%= link_to '编 辑', edit_blog_path(@blog) %> |
<%= link_to '返 回', blogs_path %>
</div>