<div class="container">
<p id="notice"><%= notice %></p>
<h3><%= @blog.title %></h3>
<p>
  <b>作者:</b>
  <%= @blog.user.name %>
</p>
<p>
  <%= @blog.content %>
</p>
<p>
    <%= @blog.created_at %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>