<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <b>用户名:</b>
  <%= gravatar_for @user %>
  <%= @user.name %>
</p>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>


<%= link_to '编 辑', edit_user_path(@user) %> |
<%= link_to '返 回', notes_path %>
</div>